<div id="searchApp">
  <br>
  <h1>Ferramenta de Pesquisa</h1>   

  <div class="input-group">
      <span class="input-group-addon">Nome</span>
      <input type="text" class="form-control" aria-describedby="name"  id="name">
  </div>
  <br>
  <div class="input-group">
      <span class="input-group-addon">Idade</span>
      <input type="text" class="form-control" aria-describedby="name"  id="age">
  </div>
  <br>
  <div class="input-group">
      <span class="input-group-addon">País</span>
      <input type="text" class="form-control" aria-describedby="name"  id="country">
  </div>
  <br>

  <div id="result-table"></div>
    
  <button id="search-btn" type="submit" class="btn btn-primary">Pesquisar</button> 

  <button id="close-btn" type="submit" class="btn btn-secondary">Fechar</button> 
  
</div>
